.container-home {
    width: 100%;
    overflow-y: hidden;
}

.container-cards-home {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    background-image: url('https://www.bing.com//th?id=OHR.SpiralHill_PT-BR3566517069_1920x1080.jpg&rf=LaDigue_1920x1080.jpg&pid=hp');
    background-repeat: no-repeat;
    background-size: cover;
}

.content-cards-home {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50%;
}