.container-card-list-members {
  height: 386px;
  width: 300px;
  background: #fff;
  border-radius: 8px;
  padding: 12px 4px 0px 4px;
}

.content-labels {
  height: auto;
  display: flex;
  justify-content: space-between;
  padding: 0 12px;
}

.label {
  font-weight: 600;
  font-size: 13px;
  line-height: 17px;
  color: #8a94a6;
}

.container-list-member {
  height: 94%;
  padding: 0 0 0 8px;
  overflow-y: auto;
}

::-webkit-scrollbar {
  width: 4px;
  background-color: #FAFBFD;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #D7DBE7;
}

.container-profile {
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 5px;
  margin: 8px 8px 0 0;
  cursor: pointer;
}

.container-profile-active {
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #F0F8FC;
  border-radius: 8px;
  padding: 4px 0 4px 5px;
  margin: 8px 8px 0 0;
  cursor: pointer;
}

.content-profile {
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.text-member {
  font-weight: 600;
  font-size: 13px;
  line-height: 17px;
  color: #16325c;
}

.picture-profile {
  height: 24px;
  width: 24px;
  border-radius: 50px;
  object-fit: cover;
  margin: 0 8px 0 12px;
}

.avatar-profile {
  height: 24px;
  width: 24px;
  background-color: #eeeeee;
  border-radius: 50px;
  margin: 0 8px 0 12px;
}

.text-avatar-profile {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
}
