.container-card-list-members {
  height: 386px;
  width: 300px;
  background: #fff;
  border-radius: 8px;
}

.content-labels {
  height: auto;
  display: flex;
  justify-content: space-between;
  padding: 8px;
}

.label {
  font-weight: 600;
  font-size: 13px;
  line-height: 17px;
  color: #8a94a6;
}

.container-list-member {
  height: 90%;
  padding: 0 0 0 8px;
  overflow-y: auto;
}

.container-profile {
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
  cursor: pointer;
}

.content-profile {
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.text-member {
  font-weight: 600;
  font-size: 13px;
  line-height: 17px;
  color: #16325c;
}

.picture-profile {
  height: 24px;
  width: 24px;
  border-radius: 50px;
  object-fit: cover;
  margin: 0 8px 0 12px;
}

.avatar-profile {
  height: 24px;
  width: 24px;
  background-color: #eeeeee;
  border-radius: 50px;
  margin: 0 8px 0 12px;
}

.text-avatar-profile {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
}
